<div class="container">
    <h1 class="title">¿Quiénes somos?</h1>
    <span class="phrase">"Somos una iglesia familiar y misionera."</span>
    <p class="desc">Fundada hace 46 años en Colonia Atlántida, Zona 18 de la Ciudad de Guatemala, Iglésia de Dios Evangélio Completo Atlántida es una iglesia evangélica y misionera comprometida con compartir el Evangelio de Jesucristo y transformar vidas. A lo largo de más de cuatro décadas, hemos crecido como comunidad de fe, guiados por la enseñanza bíblica, la oración y el servicio a nuestra sociedad, llevando un mensaje de esperanza, amor y restauración a toda la región.</p>
    <video id="miVideo" controls playsinline poster="/ideca/imgs/quienesSomos/videoIntro.PNG">
        <source src="/ideca/vids/INTRO.mp4" type="video/mp4">
        Tu navegador no soporta vídeos
    </video>
</div>

<style>
    .container{
        width: 100%;
        padding: 4.5rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .title{
        font-size: clamp(3rem, 6vw, 4.5rem);
        color: var(--secondary-color);
        font-weight: 500;
    }
    .phrase{
        font-size: clamp(1rem, 2vw, 2rem);
        color: var(--primary-color);
    }
    .desc{
        width: 90%;
        line-height: 1.5;
        font-size: clamp(1rem, 1.5vw, 1.5rem);
    }
    video{
        width: 70%;
        box-shadow: 0 0 10px 4px #0006;
    }
</style>

<script>
    const video = document.getElementById('miVideo') as HTMLVideoElement;
    video.volume = 0.02; // Volumen entre 0.0 y 1.0
</script>
